<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fitness Club </title>

  </head>

  <body>
    <div id="container">
    <!-- a section for the hesdings of the web page and logo-->
    <header>
      <a href="index.html" ><img src="images/ffc_logo.png" alt="Fitness Club Logo" height="275" width="845"></a><br>



    </header>
    <!--navigation section of the WebPage
  Use this area to add Links to other pages  -->
    <nav>
    <a href="index.html">   Home </a>&nbsp;&nbsp;
    <a href="about.html">  About Us</a> &nbsp;&nbsp;
    <a href="nutrition.html">  Nutrition </a> &nbsp;&nbsp;
    <a href="ContactUs">  Contact Us </a>
    </nav>

    <!-- main content of the WebPage-->
    <main>
      <h1>Weights</h1>
      <img  class="equip" src="images/equioment1.jpg" alt="Weight Equioment"height="195" width="360">
      <p>

    </main>
    <!-- footer sectionfor the copyright and links to social Media-->
    <footer>
      &#169;<br>&copy; CpoyRights 2020. All rigts Reserved.<br><a href="mailto:forwardfitnees@club.ca">forwardfitnees@club.ca</a>
      </footer>
</div>
</body>
</html>
